.about-rest {
  background-color: var(--accent-background);
}

@media screen and (max-width: 1023px) {
  .about-rest {
    overflow: hidden;
  }
}

.about-rest-container {
  position: relative;

  padding-top: 16px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .about-rest-container {
    padding-top: 120px;
    padding-bottom: 32px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .about-rest-container {
    padding-bottom: 50px;
    padding-right: 85px;
  }
}

.about-rest-wrapper-main {
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .about-rest-wrapper-main {
    margin-bottom: 162px;
  }
}

@media screen and (max-width: 1023px) {
  .about-rest-main-info {
    margin-bottom: 32px;
  }
}

.about-rest-subtitle {
  margin-bottom: 12px;

  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: #b4b4b4;
}

@media screen and (min-width: 1024px) {
  .about-rest-subtitle {
    margin-bottom: 4px;

    font-size: 32px;
    line-height: calc(37 / 32);
  }
}

.rest-name {
  margin-bottom: 12px;

  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;

  color: var(--title-text-color);
}

@media screen and (min-width: 1024px) {
  .rest-name {
    margin-bottom: 24px;

    font-size: 64px;
    line-height: calc(69 / 64);
  }
}

.about-rest-desc {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;

  color: var(--accent-text-color);
}

@media screen and (min-width: 1024px) {
  .about-rest-desc {
    line-height: calc(20 / 16);
    font-size: 16px;
  }
}

.about-rest-interior-main img {
  margin-left: auto;
}

@media screen and (min-width: 1024px) {
  .about-rest-interior-main {
    position: absolute;
    top: -32px;
    right: 112px;
  }
}

@media screen and (min-width: 1280px) {
  .about-rest-interior-main {
    top: -33px;
    right: 180px;
  }
}

.about-rest-desc {
  max-width: 258px;
}

@media screen and (min-width: 1024px) {
  .about-rest-desc {
    max-width: 439px;
  }
}

@media screen and (min-width: 1280px) {
  .about-rest-desc {
    max-width: 518px;
  }
}

.about-rest-interior img,
.about-rest-interior-main img {
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-rest-wrapper-details {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

@media screen and (min-width: 1024px) {
  .about-rest-wrapper-details {
    column-gap: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .about-rest-wrapper-details {
    column-gap: 32px;
  }
}

.gold {
  color: var(--style-text-color);
  max-width: 163px;
}

@media screen and (min-width: 1024px) {
  .gold {
    max-width: 312px;
  }
}

// позиціонування контейнер слайдеру
.test-new {
  position: absolute;
  bottom: 72px;
  left: 84px;
}

@media screen and (min-width: 1024px) {
  .test-new {
    bottom: 96px;
    left: 536px;
    width: 428px;
  }
}

@media screen and (min-width: 1280px) {
  .test-new {
    bottom: 118px;
    left: 647px;
    width: 548px;
  }
}

// налаштування розмірів слайдеру для mobile
.swiper-fix {
  height: 245px;
  width: 515px;
}

@media screen and (min-width: 1024px) {
  .swiper-fix {
    height: 194px;
    width: 428px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-fix {
    height: 254px;
    width: 548px;
  }
}

// стилізація зображень слайдеру
.swiper-slide img {
  border-radius: 2px;
  width: 100%;
}

// позиціонування нових кнопок слайдера
.swiper-btn-wrapper_new-about-hotel {
  display: flex;
  gap: 32px;
  margin-top: 297px;
  justify-content: end;
}

@media screen and (min-width: 1024px) {
  .swiper-btn-wrapper_new-about-hotel {
    margin-top: 198px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-btn-wrapper_new-about-hotel {
    margin-top: 143px;
  }
}

// стилізація нових кнопок слайдера
.swiper-button-next_new,
.swiper-button-prev_new {
  padding: 0;

  fill: #000000;
  line-height: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.swiper-button-next_new:hover,
.swiper-button-next_new:focus,
.swiper-button-next_new:active,
.swiper-button-prev_new:hover,
.swiper-button-prev_new:focus,
.swiper-button-prev_new:active {
  fill: #f3c653;
}
