.room-amenities {
  padding: 32px 12px;
  color: #7a7a7a;
}

@media screen and (min-width: 1024px) {
    .room-amenities {
      padding: 48px 47px 40px 47px;
    }
}

@media screen and (min-width: 1280px) {
  .room-amenities {
    padding: 48px 198px 48px 85px;
  }
}


@media screen and (min-width: 1024px) {
  .room-amenities__align {
    padding-right: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .room-amenities__align {
    padding-right: 38px;
  }
}

.room-amenities__title {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 32px;
  line-height: calc(37 / 32);
  margin-bottom: 16px;
  color: var(--footer-background);
  text-transform: uppercase;
}

.room-amenities__title-content {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20px / 16px);
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .room-amenities__title-content {
    width: 757px;
  }
}


.room-amenities__content {
  margin-bottom: 32px;
}

.room-amenities__content-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--footer-background);
  margin-bottom: 16px;
  text-transform: uppercase;
}


@media screen and (min-width: 1024px) {
  .room-amenities__content-blok {
    display: flex;
    gap: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .room-amenities__content-blok {
   gap: 159px;
  }
}

.room-amenities__content-blok>.room-amenities__content-text {
  margin-bottom: 12px;
}

@media screen and (min-width: 1024px) {
  .room-amenities__content-blok>.room-amenities__content-text {
    margin-bottom: 0;
  }
}

.room-amenities__content-text {
  display: block;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20px / 16px);
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1024px) {
  .room-amenities__content-text {
    width: 400px;
  }
}

.room-amenities__blok-link {
  padding-top: 8px;
}

.room-amenities__button {
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .room-amenities__button {
    margin-bottom: 32px;
    display: block;  
    margin-left: auto;
    margin-right: 0;
  }
}

.room-amenities__link {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
 
  color: var(--style-text-color);
  fill: var(--style-text-color);
}

@media screen and (min-width: 1024px) {
  .room-amenities__link {
    font-size: 20px;
    line-height: calc(24 / 20);
    justify-content: end;
  }
}

.room-amenities__link:hover,
.room-amenities__link:focus {
  color: var(--color-text-btn);
  fill: var(--color-text-btn);
}