.backdrop {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
}

.book-title {
    display: block;
    text-align: center;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    @media screen and (min-width: 1024px) {
        font-size: 40px;
        line-height: 1.15;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px;
    width: 100%;

    border-radius: 2px;
    background-color: var(--accent-background);

    opacity: 1;

    @media screen and (min-width: 320px) {
        max-width: 414px;
    }

    @media screen and (min-width: 1024px) {
        max-width: 712px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

// позиціонування полів форми для таблет та десктоп через opacity зго поля
.room-form>.wrapper>.form-field:nth-child(3) {
    pointer-events: none;
    opacity: 0;

    @media screen and (max-width: 1023.98px) {
        display: none;
    }
}

.room-form>.wrapper>.form-field>.input {
    appearance: none;
}

.select {
    position: relative;
}

.select .item {
    background-color: var(--accent-background);

    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    letter-spacing: 0.05em;
    color: #808080;
    outline: none;
}

.select > .input::after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 65%);
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--accent-background);
    background-image: url(../images/arrow-down.svg);
    background-size: contain;
    pointer-events: none;

    @media screen and (min-width: 1024px) {
        transform: translate(-64%, 84%);        
    }
}

.modal>.form-set>.button-booking-room {
    background-color: #000000;
    border: 1px solid var(--color-text-btn);
    border-radius: 2px;
    color: var(--text-color-bg);
    width: 100%;
    padding: 20px 42px;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    transition: background-color var(--transition-fast),
        color var(--transition-fast);
    cursor: pointer;

    @media screen and (min-width: 1024px) {
        padding: 18px 116px;
        font-size: 24px;
    }
}

.form-set>.button-booking-room:hover,
.form-set>.button-booking-room:focus {
    background-color: var(--color-text-btn);
    color: #000000;
}