.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    backdrop-filter: blur(3px);

    opacity: 1;
    transition: opacity var(--transition-slow),
    visibility var(--transition-slow);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 414px;
    height: 572px;
    padding-top: 60px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    overflow: scroll;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: var(--accent-background);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-function);
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    border: transparent;

    cursor: pointer;
    fill: #000000;
}