

.contacts{
        background: #FFFDEE;
}
.contacts-title{
        font-family: 'Film P3';
        font-family: var(--font-logo);
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 1,07;
        letter-spacing: 0.3em;
        color: #494848;

        margin-bottom: 12px;
}

@media screen and (min-width: 1024px){
        .contacts-title{
                margin-bottom: 8px;
                font-family: 'Film P3';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 64px;
                        line-height: 1,07;
        }
}

.contacts-container{
        padding-top: 34px;
        padding-bottom: 34px;
        // width: 100%;
        align-items: flex-end;
}
@media screen and (min-width: 1024px) {
        .contacts-container{
                display: flex;
                flex-direction: column;
                padding-top: 56px;
                padding-bottom: 0,7;
                flex-wrap: wrap;
                flex-direction: row;
                padding-top: 65px;
                padding-bottom: 44px;        }
}
@media screen and (min-width: 1280px){
        .contacts-container {
                padding-top: 56px;
                padding-bottom: 74px;
        }
}
.contacts-subtitle{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1,25;
        letter-spacing: 0.02em;
        color: #5F5F5F;
        margin-bottom: 16px;
}

@media screen and (min-width: 1024px){
        .contacts-subtitle{
                margin-bottom: 52px;
                font-size: 16px;
        }
}

@media screen and (min-width: 1280px) {
        .contacts-subtitle{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 1,2;
                letter-spacing: 0.02em;
                color: #5F5F5F;
        }
}

.contacts-link{
        margin-bottom: 16px;
}


@media screen and (min-width: 1024px){
        .contacts-link{
                margin-bottom: 24px;
        }
}

.contacts-name{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1,2;
        letter-spacing: 0.02em;
        color: #C79002;
}

@media screen and (min-width: 1024px){
        .contacts-name{
                margin-bottom: 8px;
        }
}
.tel{
        display: flex;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #494848;

        height: 40px;
        background: #FFFFFF;
        border: 0.5px solid #F3C653;
        border-radius: 2px;
        text-decoration: none;
        margin-left: 54px;
        border: 0.5px solid #F3C653;
        border-radius: 2px;
        padding: 8px;
}


.tel .tel-2+.tel-2{
        margin-left: 10px;
}


@media screen and (min-width: 1024px) {
        .tel{
                margin-left: 0px;
        }
}

.tel-1{
        margin-left: 22px;
}

@media screen and (min-width: 1024px){
        .tel-1{
                margin-left: 0px;
        }
}
.tel-2{
        
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #494848;
}

.contacts-adress{
        display: block;
        margin-left: auto;
}

@media screen and (min-width: 1024px){
        .contacts-adress{
                margin-left: 0px;
                margin-top: 24px;
                
                
        }
}
.contacts-list {
        margin-bottom: 32px;
}


@media screen and (min-width: 1024px){
        .contacts-list{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 0px;
        }
}
.contact-list{
        display: flex;
        align-items: center;
                
}

@media screen and (min-width: 1024px) {
        .contact-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
        }
}




.contacts-tex{
        display: flex;
        align-items: center;
        width: 260px;
        height: 76px;
        background: #FFFFFF;
        border: 0.5px solid #F3C653;
        border-radius: 2px;
        text-decoration: none;
        font-style: normal;
        font-size: 16px;
        line-height: 1,25;
        letter-spacing: 0.01em;
        color: #494848;
}

@media screen and (min-width: 1024px){
        .contacts-tex{
                width: 285px;
                height: 65px;
        }
}

.contacts-svg{
        width: 24px;
        height: 24px;
        fill: #C79002;
        margin-left: 10px;
        margin-right: 10px;
}
.svg-phone{
        margin-left: 0px;
        margin-right: 8px;
        width: 24px;
        height: 24px;
        fill: #C79002;
}

// -------------MAP-------------
.link-map{
        height: 220px;
}
@media screen and (min-width: 1024px){
        .link-map {
                display: block;
                height: 412px;
                        
        }
}

.contact-map{
        display: block;
        width: 384px;
        height: 220px;
        border: 1px solid #BABABA;
        
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
}
@media screen and (min-width: 1024px){
        .contact-map{
                display: block;
                width: 535px;
                height: 412px;
                margin-left: 103px;
                box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
                border-radius: 2px;
        }
}
@media screen and (min-width: 1280px){
        .contact-map{
                display: block;
                width: 634px;
                margin-left: 108px;
                margin-bottom: 0px;
                box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
                border-radius: 2px;
        }
}
@media screen and (min-width: 1024px){
        .contacts-group{
                display: block;
                width: 292px;
        }
}

@media screen and (min-width: 1280px){
        .contacts-group {
                display: block;
                width: 368px;
        }
}