.section-details {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
    url(../images/details-restaurant/background/background-img-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1023px),
  screen and (min-resolution: 192dpi) and (max-width: 1023px),
  screen and (min-resolution: 2dppx) and (max-width: 1023px) {
  .section-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url(../images/details-restaurant/background/background-img-mobile@2x.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .section-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url(../images/details-restaurant/background/background-img-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
  screen and (min-resolution: 192dpi) and (min-width: 1024px),
  screen and (min-resolution: 2dppx) and (min-width: 1024px) {
  .section-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url(../images/details-restaurant/background/background-img-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .section-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url(../images/details-restaurant/background/background-img-desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .section-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url(../images/details-restaurant/background/background-img-desktop@2x.jpg);
  }
}

.details__position {
  padding-left: 125px;
}

@media screen and (min-width: 1024px) {
  .details__position {
    padding-left: 323px;
  }
}

@media screen and (min-width: 1280px) {
  .details__position {
    padding-left: 263px;
  }
}

.details-container {
  position: relative;
  padding-top: 24px;
  padding-bottom: 40px;
}

@media screen and (min-widht: 1024px) {
  .details-container {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

//                          TITLES

.details__title {
  font-family: var(--font-logo);
  color: var(--text-color-bg);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  margin-bottom: 12px;
}

.details__subtitle {
  font-family: var(--font-main);
  color: var(--text-color-bg);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .details__title {
    font-size: 64px;
    margin-bottom: 16px;
  }
  .details__subtitle {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
  }
}

//                    TITLES

// text

.details__text {
  font-family: var(--font-main);
  color: #bababa;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

@media screen and (min-width: 1024px) {
  .details__text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
  }
}
// text

//                    buttons
.details__buttons {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .details__buttons {
    position: absolute;
    top: 375px;
    left: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .details__buttons {
    left: 85px;
  }
}

.details__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.details__link {
  display: block;
  padding-left: 33px;
  padding-right: 33px;
}

//                    buttons

//                          slider
.deteils__static {
  padding-left: 25px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1024px) {
  .deteils__static {
    padding-left: 297px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .deteils__static {
    padding-left: 338px;
  }
}

.details__slider-container {
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 1024px) {
  .details__slider-container {
    gap: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .details__slider-container {
    gap: 60px;
  }
}

.details__slider-img {
  height: 270px;
}

.slider-img-third {
  display: none;
}

@media screen and (min-width: 1024px) {
  .slider-img-third {
    display: block;
  }
}

//                          slider
