.hero-hotel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/hero/hotel/hero-hotel-mobile.jpg);
  background-size: cover;
  background-color: var(--home-hero-background);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 414px),
  screen and (min-resolution: 192dpi) and (max-width: 414px),
  screen and (min-resolution: 2dppx) and (max-width: 414px) {
  .hero-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/hero/hotel/hero-hotel-mobile@2x.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .hero-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/hero/hotel/hero-hotel-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
  screen and (min-resolution: 192dpi) and (min-width: 1024px),
  screen and (min-resolution: 2dppx) and (min-width: 1024px) {
  .hero-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/hero/hotel/hero-hotel-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .hero-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/hero/hotel/hero-hotel-desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .hero-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/hero/hotel/hero-hotel-desktop@2x.jpg);
  }
}

// додаткові налаштування контейнеру
.hero-container {
  position: relative;
  padding-top: 181px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .hero-container {
    padding-top: 188px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 164px;
    padding-bottom: 64px;
  }
}

// позиціонування текстового контенту
.hero-hotel__wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 178px;
}

@media screen and (min-width: 1024px) {
  .hero-hotel__wrapper-text {
    margin-bottom: 218px;
  }
}

@media screen and (min-width: 1280px) {
    .hero-hotel__wrapper-text {
        margin-bottom: 242px;
    }
}

// стилізація текстового контенту
.hero-hotel__title {
  margin-bottom: 32px;

  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 96px;
  line-height: calc(103 / 96);
  letter-spacing: 0.3em;
  color: var(--text-color-bg);
}

@media screen and (min-width: 1024px) {
  .hero-hotel__title {
    font-size: 128px;
    line-height: calc(138 / 128);
  }
}

.hero-hotel__subtitle {
  margin-bottom: 0;

  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--text-color-bg);
}

@media screen and (min-width: 1024px) {
  .hero-hotel__subtitle {
    margin-bottom: 0;

    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

@media screen and (min-width: 1280px) {
  .hero-hotel__subtitle {
    margin-bottom: 0;
  }
}

// позиціонування обгортки адреси-посилання та кнопок бронювання
.hero__wrapper-btn-adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 58px;
}

@media screen and (min-width: 1024px) {
  .hero__wrapper-btn-adress {
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__wrapper-btn-adress {
    margin-bottom: 0;
  }
}

// позиціонування та стилізація адреси-посилання
.hero__address-link {
  display: flex;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 6px;
  padding-right: 6px;

  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}

// додаткове позиціонування адреси-посилання
@media screen and (max-width: 1023px) {
  .hero__address-link {
    position: absolute;
    top: 64px;
    right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .hero__address-link {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 8px;
  }
}

// стилізація елементів адреси-посилання
.hero__address-link address {
  font-size: 12px;
  font-style: normal;
  line-height: calc(15 / 12);
  letter-spacing: 0.01em;
  color: var(--maps-text-color);
}

@media screen and (min-width: 1024px) {
  .hero__address-link address {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}

.location-icon {
  margin-right: 8px;

  width: 20px;
  height: 20px;
  fill: var(--color-text-btn);
}

@media screen and (min-width: 1024px) {
  .location-icon {
    margin-right: 8px;

    width: 24px;
    height: 24px;
  }
}

// позиціонування кнопок бронювання
.hero__btn-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 1024px) {
  .hero__btn-list {
    margin-left: auto;
    flex-direction: row;
    align-items: baseline;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__btn-list {
    gap: 60px;
  }
}

// позиціонування списку посилань на соціальні мережі
.hero__social-list {
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 1280px) {
  .hero__social-list {
    display: none;
  }
}
