// добавляємо задній фон
.room-hero {
  background-color: var(--accent-background);
  overflow-x: hidden;
}

//прибираємо всі паддінги у main
.hero-room-main {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

// прибираємо нижній маржин у btn
.hero-room-btn {
  margin-bottom: 0;
}

// позиціонування заголовку і тексту
.room-description {
  position: absolute;
  padding: 10px;
  bottom: 142px;
  left: 15px;

  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

@media screen and (max-width: 1023px) {
  .room-description {
    max-width: 345px;
  }
}

@media screen and (min-width: 1024px) {
  .room-description {
    width: auto;
    left: 47px;
    bottom: 104px;
  }
}

@media screen and (min-width: 1280px) {
  .room-description {
    bottom: 48px;
    left: 85px;
  }
}

// стилізація заголовку
.hero__title--room {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.05em;
  color: var(--text-color-bg);
  text-transform: uppercase;
  margin-bottom: 14px;
}

@media screen and (min-width: 1024px) {
  .hero__title--room {
    font-size: 36px;
    line-height: calc(41 / 36);
    margin-bottom: 24px;
  }
}

.lux {
  text-transform: none;
}

// стилізація тексту
.hero__text--room {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: var(--text-color-bg);
}

@media screen and (min-width: 1024px) {
  .hero__text--room {
    width: 400px;
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}

//позиціонування лінка адреси
.link-room {
  background-color: var(--color-btn);
}

@media screen and (min-width: 1024px) {
  .link-room {
    position: absolute;
    bottom: 22px;
    left: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .link-room {
    display: none;
  }
}
// позиціонування кнопки
.btn-room {
  position: absolute;
  bottom: 40px;
  right: 73px;
}

@media screen and (min-width: 1024px) {
  .btn-room {
    bottom: 62px;
    right: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .btn-room {
    bottom: 66px;
    right: 85px;
  }
}

// позиціонування соц. лінків
@media screen and (max-width: 1023px) {
  .soc-room {
    flex-direction: column;
    position: absolute;
    bottom: 14px;
    left: 15px;
    gap: 8px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .soc-room {
    position: absolute;
    bottom: 36px;
    left: 375px;
  }
}

// slide
.my-swiper {
  z-index: 0;
}

// позиціонування лівої кнопки слайду
.js-swiper6-button-prev {
  position: absolute;
  z-index: 10;
  bottom: 350px;
  left: 15px;
}

@media screen and (min-width: 1024px) {
  .js-swiper6-button-prev {
    bottom: 340px;
    left: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .js-swiper6-button-prev {
    bottom: 268px;
    left: 85px;
  }
}

// позиціонування правої кнопки слайду
.js-swiper6-button-next {
  position: absolute;
  z-index: 10;
  bottom: 350px;
  right: 15px;
}

@media screen and (min-width: 1024px) {
  .js-swiper6-button-next {
    bottom: 340px;
    right: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .js-swiper6-button-next {
    bottom: 268px;
    right: 85px;
  }
}

// стилізація кнопок слайду
.js-swiper6-button-prev,
.js-swiper6-button-next {
  padding: 0;
  fill: var(--text-color-bg);
  background: var(--home-hero-background);
  line-height: 0;
  border: none;

  cursor: pointer;

  transition: fill var(--transition-fast), background var(--transition-fast);
}

.js-swiper6-button-prev:hover,
.js-swiper6-button-prev:focus,
.js-swiper6-button-prev:active,
.js-swiper6-button-next:hover,
.js-swiper6-button-next:focus,
.js-swiper6-button-next:active {
  fill: var(--footer-allelement-color);
  background: var(--color-btn);
}

// додаткові налаштування для маленьких еранів
@media screen and (max-width: 370px) {
  .room-description {
    bottom: 104px;
    max-width: 292px;
  }

  .hero__title--room {
    font-size: 24px;
  }

  .hero__text--room {
    font-size: 10px;
  }

  .room-description {
    bottom: 124px;
  }

  .btn-room {
    right: 15px;
  }
}
