.backdrop {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(3px);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;

  width: 100%;
  height: 100%;

  border-radius: 2px;
  background-color: var(--accent-background);
  opacity: 1;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 319.98px) {
    max-width: 300px;
    max-height: 500px;
  }
  @media screen and (min-width: 320px) {
    max-width: 320px;
    max-height: 572px;
  }
  @media screen and (min-width: 360px) {
    max-width: 350px;
  }
  @media screen and (min-width: 414px) {
    max-width: 414px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 712px;
    max-height: 489px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  visibility: visible;
}

.close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;

  transform: translate(-66%, 66%);

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-cross {
  stroke: #000000;
}

.price-title {
  margin-bottom: 40px;
}

.price-form {
  text-align: center;
}

.close-modal {
  width: 100%;
  height: 100%;
}

.price-form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.select {
  display: block;

  // !!!змінив 384рх на 100%
  width: 100%;
  height: 54px;

  margin-bottom: 8px;
  padding: 17px 12px;

  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.05em;

  color: var(--text-color-gray);
  background-color: var(--accent-background);
  border-radius: 2px;
  border: 1px solid var(--style-text-color);
  outline: none;
}

.price-form-label {
  margin-bottom: 40px;
}

.price-form-category {
  // !!!змінив 384рх на 100%
  width: 100%;
  height: 54px;

  margin-bottom: 20px;

  font-family: var(--font-main);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--text-color-gray);
  border: 1px solid transparent;
  background-color: var(--accent-background);
}

@media screen and (min-width: 1024px) {
  .select {
    width: 288px;
    height: 64px;
  }
}

.area-name {
  margin-bottom: 20px;
  margin-left: 0;
}

@media screen and (min-width: 1024px) {
  .price-form-position {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

.button-booking-table {
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: var(--font-main);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  background: var(--footer-background);
  color: var(--text-color-bg);
  border: 1px solid var(--color-text-btn);
  border-radius: 2px;

  @media screen and (min-width: 320px) {
    max-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 360px) {
    max-width: 330px;
    padding-left: 25px;
    padding-right: 25px;
  }
  @media screen and (min-width: 414px) {
    max-width: 384px;
    padding-left: 37px;
    padding-right: 37px;
  }
}
