:root {
    // шрифти
    --font-main: 'Montserrat', sans-serif;
    --font-secondary: 'TimesNewRoman', sans-serif;
    --font-logo: 'FilmP3', sans-serif;

    // фонові кольори
    --accent-background: #FFFDEE;
    --footer-background: #000000;
    --menu-background: #F0ECD6;

    // кольори для тексту
    --text-color-bg: #ffffff;
    --accent-text-color: #5F5F5F;
    --style-text-color: #C79002;
    --title-text-color:  #494848;
    --maps-text-color: #E5E5E5;
    --footer-allelement-color: #F3C653;

    // напівпрозорі фони для секцій
    --home-hero-background: rgba(0, 0, 0, 0.65);
    --restaurant-background: rgba(0, 0, 0, 0.76);
    --hotel-background: rgba(0, 0, 0, 0.7);

    // Кольри для компонентів кнопок
    --color-btn: rgba(0, 0, 0, 0.4);
    --color-text-btn: #F3C653;

    // кубік та таймінг для анімації

    --transition-slow: 750ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}