<section class="about-hotel">
   <div class="container">
        <h2 class="hiden"> About Hotel Mimino</h2>
        <p>Amet minim mollit non</p>
        <h3>MIMINO</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <img src="../images/about-hotel/interior-mobile-2.jpg" alt="Foto-hotel-room">
        <div>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <img src="../images/about-hotel/interior-mobile-1.jpg" alt="Foto-hotel">
        </div>
        <img src="../images/about-hotel/slider/picture-mobile-1.jpg" alt="foto-hotel-slider">
       
        <div>
            <button type="button">
                <svg>
                    <use href="../images/icons.svg#arrow-right"></use>
                </svg>
            </button>
            <button type="button">
                <svg>
                    <use href="../images/icons.svg#arrow-left"></use>
                </svg>
            </button>
        </div>
   </div>

</section>