<section class="about-rest">
  <div class="container">
    <h2 class="about-rest-title hiden">About restaurant</h2>
    <div class="about-rest-wrapper-main">
      <div class="about-rest-main-info">
        <h4 class="about-rest-subtitle">Amet minim mollit non</h4>
        <h3 class="rest-name">MIMIHO</h3>
        <p class="about-rest-desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="about-rest-interior">
        <picture class="about-rest-interior-room1">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-restaurant/interior-desktop-1.jpg    1x,
              ./images/about-restaurant/interior-desktop-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-restaurant/interior-tablet-1.jpg    1x,
              ./images/about-restaurant/interior-tablet-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 414px)"
            srcset="
              ./images/about-restaurant/interior-mobile-1.jpg    1x,
              ./images/about-restaurant/interior-mobile-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="about-rest-img about-rest-img-right"
            src="./images/about-restaurant/interior-mobile-1.jpg"
            alt="restaurant interior room 1"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="about-rest-wrapper-details">
      <div class="about-rest-interior">
        <picture class="about-rest-interior-room2">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-restaurant/interior-desktop-2.jpg    1x,
              ./images/about-restaurant/interior-desktop-2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-restaurant/interior-tablet-2.jpg    1x,
              ./images/about-restaurant/interior-tablet-2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 414px)"
            srcset="
              ./images/about-restaurant/interior-mobile-2.jpg    1x,
              ./images/about-restaurant/interior-mobile-2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="about-rest-img"
            src="./images/about-restaurant/interior-mobile-2.jpg"
            alt="restaurant interior room 2"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="about-rest-info">
        <p class="about-rest-desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <!-- <div class="about-rest-wrapper about-rest-slider">
      <div class="about-rest-slider-foto">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-restaurant/slider/picture-desktop-1.jpg    1x,
              ./images/about-restaurant/slider/picture-desktop-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-restaurant/slider/picture-tablet-1.jpg    1x,
              ./images/about-restaurant/slider/picture-tablet-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 414px)"
            srcset="
              ./images/about-restaurant/slider/picture-mobile-1.jpg    1x,
              ./images/about-restaurant/slider/picture-mobile-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="about-rest-slider-item"
            src="./images/about-restaurant/slider/picture-mobile-1.jpg"
            alt="restaurant slider foto 1"
            loading="lazy"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-restaurant/slider/picture-desktop-2.jpg    1x,
              ./images/about-restaurant/slider/picture-desktop-2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-restaurant/slider/picture-tablet-2.jpg    1x,
              ./images/about-restaurant/slider/picture-tablet-2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 414px)"
            srcset="
              ./images/about-restaurant/slider/picture-mobile-1.jpg    1x,
              ./images/about-restaurant/slider/picture-mobile-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="about-rest-slider-item"
            src="./images/about-restaurant/slider/picture-mobile-1.jpg"
            alt="restaurant slider foto 2"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="about-rest-slider-arrows">
        <svg class="arrow-left-icon" width="32" height="32">
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
        <svg class="arrow-right-icon" width="32" height="32">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </div>
    </div> -->
  </div>
</section>
