<section class="about-rest">
  <div class="container">
    <h2 class="about-rest-title hiden">About restaurant</h2>
    <div class="about-rest-wrapper">
      <div class="about-rest-main-info">
        <h4 class="about-rest-subtitle">Amet minim mollit non</h4>
        <h3 class="rest-name">MIMIHO</h3>
        <p class="about-rest-desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="about-rest-interior">
        <img
          class="about-rest-img"
          srcset="
            ./images/about-restaurant/interior-mobile-1.jpg     244w,
            ./images/about-restaurant/interior-tablet-1.jpg     400w,
            ./images/about-restaurant/interior-desktop-1.jpg    460w,
            ./images/about-restaurant/interior-mobile-1@2x.jpg  488w,
            ./images/about-restaurant/interior-tablet-1@2x.jpg  800w,
            ./images/about-restaurant/interior-desktop-1@2x.jpg 920w
          "
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 100vw"
          src="./images/about-restaurant/interior-mobile-1.jpg"
          alt="restaurant interior room 1"
          width="244"
          height="322"
          loading="lazy"
        />
      </div>
    </div>
    <div class="about-restaurant-wrapper details">
      <div class="about-rest-interior">
        <img
          class="about-rest-img"
          srcset="
            ./images/about-restaurant/interior-mobile-2.jpg     200w,
            ./images/about-restaurant/interior-tablet-2.jpg     350w,
            ./images/about-restaurant/interior-desktop-2.jpg    460w,
            ./images/about-restaurant/interior-mobile-2@2x.jpg  400w,
            ./images/about-restaurant/interior-tablet-2@2x.jpg  700w,
            ./images/about-restaurant/interior-desktop-2@2x.jpg 920w
          "
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 700px, (min-width: 414px) 200px, 100vw"
          src="./images/about-restaurant/interior-mobile-2.jpg"
          alt="restaurant interior room 2"
          width="200"
          height="278"
          loading="lazy"
        />
      </div>
      <p class="about-restaurant-desc">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="about-restaurant-wrapper about-restaurant-slider">
      <div class="about-rest-slider-foto">
        <img
          class="about-rest-slider-item"
          srcset="
            ./images/about-restaurant/slider/picture-tablet-1.jpg     194w,
            ./images/about-restaurant/slider/picture-mobile-1.jpg     245w,
            ./images/about-restaurant/slider/picture-desktop-1.jpg    254w,
            ./images/about-restaurant/slider/picture-tablet-1@2x.jpg  388w,
            ./images/about-restaurant/slider/picture-mobile-1@2x.jpg  490w,
            ./images/about-restaurant/slider/picture-desktop-1@2x.jpg 508w
          "
          sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
          src="./images/about-restaurant/slider/picture-desktop-1.jpg"
          alt="restaurant slider foto 1"
          width="245"
          height="245"
          loading="lazy"
        />
        <img
          class="about-rest-slider-item"
          srcset="
            ./images/about-restaurant/slider/picture-tablet-2.jpg     194w,
            ./images/about-restaurant/slider/picture-mobile-2.jpg     245w,
            ./images/about-restaurant/slider/picture-desktop-2.jpg    254w,
            ./images/about-restaurant/slider/picture-tablet-2@2x.jpg  388w,
            ./images/about-restaurant/slider/picture-mobile-2@2x.jpg  490w,
            ./images/about-restaurant/slider/picture-desktop-2@2x.jpg 508w
          "
          sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
          src="./images/about-restaurant/slider/picture-desktop-2.jpg"
          alt="restaurant slider foto 2"
          width="245"
          height="245"
          loading="lazy"
        />
      </div>
      <div class="about-restaurant-slider-arrows">
        <svg class="arrow-left-icon" width="32" height="32">
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
        <svg class="arrow-right-icon" width="32" height="32">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
