<section class="details-hotel">
  <div class="container detail-div">
    <div class="hotel-det-div">
      <p class="hotel-logo">MIMIHO</p>
      <h2 class="title">Готель</h2>
      <!-- !видалив лишній тег <span> -->
      <p class="text-hotel">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
      <!-- !видалив лишній тег </span> -->
    </div>
    <ul class="list-foto">
      <!-- !!!переніс клас з div до li -->
      <li class="tumba-foto-slider first">
        <!-- !!! видалив зайвий div <div class="tumba-foto-slider first"> -->
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/details-hotel\slider/picture-desktop-1.jpg    1x,
              ./images/details-hotel\slider/picture-desktop-1@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/details-hotel\slider/picture-tablet-1.jpg    1x,
              ./images/details-hotel\slider/picture-tablet-1@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            srcset="./images/details-hotel\slider/picture-mobile-1@2x.jpg 2x"
            src="./images/details-hotel\slider/picture-mobile-1.jpg"
            alt="foto-hotel-slider-1"
            loading="lazy"
          />
        </picture>
        <!-- </div> -->
      </li>
      <li class="tumba-foto-slider second">
        <!-- <div class="tumba-foto-slider second"> -->
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/details-hotel\slider/picture-desktop-2.jpg    1x,
              ./images/details-hotel\slider/picture-desktop-2@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            srcset="./images/details-hotel\slider/picture-mobile-2@2x.jpg 2x"
            src="./images/details-hotel\slider/picture-mobile-2.jpg"
            alt="foto-hotel-slider-2"
            loading="lazy"
          />
        </picture>
        <!-- </div> -->
      </li>
      <li class="tumba-foto-slider none">
        <!-- <div class="tumba-foto-slider none"> -->
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/details-hotel\slider/picture-desktop-3.jpg    1x,
              ./images/details-hotel\slider/picture-desktop-3@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            srcset="./images/details-hotel\slider/picture-tablet-3@2x.jpg 2x"
            src="./images/details-hotel\slider/picture-tablet-3.jpg"
            alt="foto-hotel-slider-3"
            loading="lazy"
          />
        </picture>
        <!-- </div> -->
      </li>
    </ul>
    <div class="slider-icon-div">
      <svg class="icon-slider">
        <use href="./images/icons.svg#arrow-left"></use>
      </svg>
      <svg class="icon-slider">
        <use href="./images/icons.svg#arrow-right"></use>
      </svg>
    </div>
    <div class="buton-div">
      <button class="btn" type="button" data-modal3-open>Забронювати номер</button>
      <a class="btn link" href="./hotel-page.html">Переглянути ціни</a>
    </div>
  </div>
</section>
