<section class="details-hotel">
    <div class="container detail-div">
        <div class="hotel-det-div" >
            <h2 class="hotel-logo">MIMINO</h2>
            <h3 class="title">Готель</h3>
            <span>
                <p class="text-hotel">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit.
                </p>
            </span>
        </div>
       
        <ul class="list-foto">
            <li>
                <div class="tumba-foto-slider first">
                    <picture>
                        <source media="(min-width: 1280px)" srcset="
                                            ./images/details-hotel\slider/picture-desktop-1.jpg 1x,
                                            ./images/details-hotel\slider/picture-desktop-1@2x.jpg 2x
                                        " type="image/jpeg">
                        <source media="(min-width: 1024px)" srcset="
                                            ./images/details-hotel\slider/picture-tablet-1.jpg 1x,
                                            ./images/details-hotel\slider/picture-tablet-1@2x.jpg 2x
                                        " type="image/jpeg">
                        <img srcset="./images/details-hotel\slider/picture-mobile-1@2x.jpg 2x"
                            src="./images/details-hotel\slider/picture-mobile-1.jpg" alt="foto-hotel-slider-1" loading="lazy" />
                    </picture>
                </div>
            </li>
            <li>
                <div class="tumba-foto-slider second">
                    <picture>
                        <source 
                            media="(min-width: 1024px)" 
                            srcset="
                                ./images/details-hotel\slider/picture-desktop-2.jpg 1x,
                                ./images/details-hotel\slider/picture-desktop-2@2x.jpg 2x
                            " 
                            type="image/jpeg"
                        >
                        <img 
                            srcset="./images/details-hotel\slider/picture-mobile-2@2x.jpg 2x" 
                            src="./images/details-hotel\slider/picture-mobile-2.jpg" 
                            alt="foto-hotel-slider-2"
                            loading="lazy" 
                        />
                    </picture>
                </div>
            </li>
            <li>
                <div class="tumba-foto-slider none">
                    <picture>
                        <source media="(min-width: 1280px)" srcset="
                                            ./images/details-hotel\slider/picture-desktop-3.jpg 1x,
                                            ./images/details-hotel\slider/picture-desktop-3@2x.jpg 2x
                                        " type="image/jpeg">
                        <img srcset="./images/details-hotel\slider/picture-tablet-3@2x.jpg 2x"
                            src="./images/details-hotel\slider/picture-tablet-3.jpg" alt="foto-hotel-slider-3" loading="lazy" />
                    </picture>
                </div>
            </li>
        </ul>
        <div class="slider-icon-div">
            <svg class="icon-slider">
                <use href="./images/icons.svg#arrow-left"></use>
            </svg>
            <svg class="icon-slider">
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </div>
        <div class="buton-div">
            <button class="btn" type="button">Забронювати номер</button>
            <a class="btn link" href="">Переглянути ціни</a>
        </div>
        
    </div>
</section>