<section class="section-details">
  <div class="container details-container">
    <!-- text -->
    <div class="details__position">
      <!-- замінив h2 на p -->
      <p class="details__title">MIMIHO</p>
      <!-- замінив h3 на h2 -->
      <h2 class="details__subtitle">Ресторан</h2>
      <p class="details__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <!-- foto-static -->
    <div class="deteils__static">
      <div class="details__slider-container">
        <div>
          <picture>
            <source
              srcset="
                ./images/details-restaurant/slider/picture-desktop-1.jpg    1x,
                ./images/details-restaurant/slider/picture-desktop-1@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/details-restaurant/slider/picture-tablet-1.jpg    1x,
                ./images/details-restaurant/slider/picture-tablet-1@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/details-restaurant/slider/picture-mobile-1.jpg    1x,
                ./images/details-restaurant/slider/picture-mobile-1@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="details__slider-img"
              src="./images/details-restaurant/slider/picture-mobile-1.jpg"
              alt="photo of the dish"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/details-restaurant/slider/picture-desktop-2.jpg    1x,
                ./images/details-restaurant/slider/picture-desktop-2@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/details-restaurant/slider/picture-tablet-2.jpg    1x,
                ./images/details-restaurant/slider/picture-tablet-2@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/details-restaurant/slider/picture-mobile-2.jpg    1x,
                ./images/details-restaurant/slider/picture-mobile-2@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="details__slider-img"
              src="./images/details-restaurant/slider/picture-mobile-2.jpg"
              alt="photo of the dish"
            />
          </picture>
        </div>
        <div class="slider-img-third">
          <picture>
            <source
              srcset="
                ./images/details-restaurant/slider/picture-desktop-3.jpg    1x,
                ./images/details-restaurant/slider/picture-desktop-3@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/details-restaurant/slider/picture-tablet-3.jpg    1x,
                ./images/details-restaurant/slider/picture-tablet-3@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              class="details__slider-img"
              src="./images/details-restaurant/slider/picture-tablet-3.jpg"
              alt="photo of the dish"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="details__container-icon">
      <svg class="det__icon-slider">
        <use href="./images/icons.svg#arrow-left"></use>
      </svg>
      <svg class="det__icon-slider">
        <use href="./images/icons.svg#arrow-right"></use>
      </svg>
    </div>
    <!-- buttons -->
    <div class="details__buttons">
      <ul class="list details__item">
        <li>
          <button
            class="btn"
            type="button"
            aria-label="Кнопка бронювання столику"
            data-modal-open
          >
            Забронювати столик
          </button>
        </li>
        <li>
          <a href="#" class="link btn details__link">Переглянути меню</a>
        </li>
      </ul>
    </div>
  </div>
</section>
