<section class="bk-color">
    <div class="container">
        <div>
             <p class="amet-3">Amet minim mollit non</p>
             <h1 class="mimino-3">MIMIHO</h1>
             <h2 class="there">ТРЬОХМІСНИЙ НОМЕР</h2>
             <p class="amett">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div>
        <picture>
            <source media="(min-width:1280px)"
            srcset="./images/hotel/interior-desktop-1.jpg 1x,
            ./images/hotel/interior-desktop-1@2x.jpg 2x"
            type="image/jpeg"/>
            <source media="(min-width:1024px)"
            srcset="./images/hotel/interior-tablet-1.jpg 1x,
            ./images/hotel/interior-tablet-1@2x.jpg 2x"
            type="image/jpeg"/>
            <img srcset="./images/hotel/interior-mobile-1@2x.jpg 2x"
            src="./images/hotel/interior-mobile-1.jpg"
            alt="кімната"/>
        </picture>
        </div>
        <div>
            <img src="../src/images/hotel/interior-mobile-1.jpg" alt="">
            <img src="../src/images/hotel/interior-mobile-1.jpg" alt="">
        </div>

        <div class="room-3-btn">
            <button class="btn btn-details btn-black">
                Детальніше
            </button>
            <div class="room-3-marg">
            <button class="btn btn-look-price btn-black">
                Переглянути ціни
            </button>
            </div>
        </div>
    </div>
</section>