<section class="bk-color" >
    <div class="container ">
        <div class="title-div-3">
             <h4 class="amet-3" lang="en">Amet minim mollit non</h4>
             <h4 class="mimino-3">MIMIHO</h4>
             <h3 class="there">ТРЬОХМІСНИЙ НОМЕР</h3>
             <p class="amett" lang="en">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="room-3-bad room-3 ">
        <picture>
            <source media="(min-width:1280px)"
            srcset="./images/hotel/interior-desktop-1.jpg 1x,
            ./images/hotel/interior-desktop-1@2x.jpg 2x"
            type="image/jpeg"/>
            <source media="(min-width:1024px)"
            srcset="./images/hotel/interior-tablet-1.jpg 1x,
            ./images/hotel/interior-tablet-1@2x.jpg 2x"
            type="image/jpeg"/>
            <img srcset="./images/hotel/interior-mobile-1@2x.jpg 2x"
            src="./images/hotel/interior-mobile-1.jpg"
            alt="кімната"/>
        </picture>
        </div>
        <div class="room-3-bad room-flex room-3-poz">
            <picture>
                <source media="(min-width:1280px)"
                srcset="./images/hotel/slider/picture-desktop-2.jpg 1x,
                ./images/hotel/slider/picture-desktop-2@2x.jpg 2x"
                type="image/jpeg"/>
                <source media="(min-width:1024px)"
                srcset="./images/hotel/slider/picture-mobile-2.jpg 1x,
                ./images/hotel/slider/picture-mobile-2@2x.jpg 2x"
                type="image/jpeg"/>
                <img srcset="./images/hotel/slider/picture-mobile-2@2x.jpg 2x"
                src="./images/hotel/slider/picture-mobile-2.jpg"
                alt="ванна"/>
            </picture>
            <picture>
                <source media="(min-width:1280px)"
                srcset="./images/hotel/slider/picture-desktop-1.jpg 1x,
                ./images/hotel/slider/picture-desktop-1@2x.jpg 2x"
                type="image/jpeg"/>
                <source media="(min-width:1024px)"
                srcset="./images/hotel/slider/picture-mobile-1.jpg 1x,
                ./images/hotel/slider/picture-mobile-1@2x.jpg 2x"
                type="image/jpeg"/>
                <img srcset="./images/hotel/slider/picture-mobile-1@2x.jpg 2x"
                src="./images/hotel/slider/picture-mobile-1.jpg"
                alt="кава"/>
            </picture>
        </div>
        <div class="swiper-btn-wrapper swiper-pozition">
            <button class="swiper-button-prev_new" type="button">
              <svg width="32" height="32">
                <use href="./images/icons.svg#arrow-left"></use>
              </svg>
            </button>
            <button class="swiper-button-next_new" type="button">
              <svg width="32" height="32">
                <use href="./images/icons.svg#arrow-right"></use>
              </svg>
            </button>
          </div>

        <div class="room-3-btn">
            <button class="btn btn-details btn-black">
                Детальніше
            </button>
            <div class="room-3-marg">
            <button class="btn btn-look-price btn-black">
                Переглянути ціни
            </button>
            </div>
        </div>
    </div>
</section>