<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button
      class="close-button"
      type="button"
      aria-label="Button close modal menu"
      data-modal-close
    >
      <svg class="icon-cross" width="24" height="24">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>

    <h1 class="book-title">ЗАБРОНЮВАТИ СТОЛИК</h1>
    <!-- форма модального вікна -->
    <form
      class="form-set table-form"
      name="booking-table-form"
      autocomplete="off"
    >
      <!-- обгортка полів введення -->
      <div class="wrapper">
        <div class="form-field">
          <input
            class="input"
            type="text"
            name="name"
            id="name"
            placeholder="Ваше ім’я"
            pattern="[a-zA-Zа-яА-ЯіІїЇ]+"
            minlength="2"
          />
          <label class="area-name" for="name"
            >На кого забронювати столик?</label
          >
        </div>
        <div class="form-field">
          <input
            class="input"
            type="tel"
            name="phone"
            id="phone"
            placeholder="+38 (___) ___-__-__"
            pattern="\+\[0-9]{12}"
            title="+38 (___) ___-__-__"
            maxlength="19"
          />
          <label class="area-name" for="phone">Номер телефону</label>
        </div>

        <div class="form-field select">
          <select class="input" name="room-class" id="room-class" required>
            <option class="item" value="1">1</option>
            <option class="item" value="2" selected>2</option>
            <option class="item" value="3">3</option>
          </select>
          <label class="area-name" for="volume"
            >Столик на яку кількість осіб?</label
          >
        </div>
        <div class="form-field select">
          <input
            class="input"
            type="date"
            name="table booking date"
            required
            id="checkout"
            min="2023-01-01"
            max="2030-01-01"
          />
          <label class="area-name" for="table booking date"
            >На яку дату бронювати?</label
          >
        </div>
      </div>
      <button class="button-booking btn-look-price btn-modal" type="submit">
        ЗАБРОНЮВАТИ СТОЛИК
      </button>
    </form>
  </div>
</div>
<script type="module" src="./index.js"></script>
