<section class="room-amenities container">
  <div class="room-amenities__align">
    <h2 class="room-amenities__title">Зручності у номері</h2>
    <p class="room-amenities__title-content">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="list">
      <li class="room-amenities__content">
        <h3 class="room-amenities__content-title">Загальні</h3>
        <div class="room-amenities__content-blok">
          <p class="room-amenities__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="room-amenities__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="room-amenities__content">
        <h3 class="room-amenities__content-title">Ванна кімната</h3>
        <div class="room-amenities__content-blok">
          <p class="room-amenities__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="room-amenities__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="room-amenities__content">
        <h3 class="room-amenities__content-title">Спальня</h3>
        <div class="room-amenities__content-blok">
          <p class="room-amenities__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="room-amenities__content">
        <h3 class="room-amenities__content-title">Кухня</h3>
        <div class="room-amenities__content-blok">
          <p class="room-amenities__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="room-amenities__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="room-amenities__content">
        <h3 class="room-amenities__content-title">Медіа</h3>
        <div class="room-amenities__content-blok">
          <p class="room-amenities__content-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="room-amenities__blok-link">
    <button type="button" class="room-amenities__button btn-booking">Оформити бронювання</button>
    <a href="" class="link room-amenities__link">
      <span class="room-amenities__link-text">Повернутися до перегляду номерів</span>
      <svg width="24px" height="24px" class="room-amenities__link-icon">
        <use href="./images/icons.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
</section>